<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>513161738569-cpa7dims7hev9h5ufd74na4djrl6k14g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.513161738569-cpa7dims7hev9h5ufd74na4djrl6k14g</string>
	<key>API_KEY</key>
	<string>AIzaSyA8fYeRMmQPEh5cxW-B3GgnkKRDpu54PC8</string>
	<key>GCM_SENDER_ID</key>
	<string>513161738569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Farhana.FirebaseRealtimeDB</string>
	<key>PROJECT_ID</key>
	<string>fir-realtime-db-25777</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-realtime-db-25777.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513161738569:ios:56a579e2f425514e778298</string>
	<key>DATABASE_URL</key>
	<string>https://fir-realtime-db-25777-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>